*.iml
.gradle
.kotlin/
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build/
/wear/build/
/app/release/
/wear/release/
/captures
.externalNativeBuild
.cxx
local.properties
/keystore/
*.keystore
*.jks
*.apk
*.aab
*.ap_
.roocoderules
